*
!.gitignore
!edge264*.c
!edge264*.h
!LICENSE_BSD.txt
!Makefile
!README.md
!CMakeLists.txt
!*.in
!tests
!tests/*.yaml
!tests/gen_cabac_overread.py
!tests/gen_cabac_orphan.py
!tests/gen_cabac_misalign.py
!tests/gen_slice_first_mb_oob.py
!tests/conformance_check.c
!tests/conformance
!tests/conformance/2d
!tests/conformance/mvc
!tests/conformance/mvc-synthetic
!tests/conformance/2d/*.264
!tests/conformance/mvc/*.264
!tests/conformance/mvc-synthetic/*.264
!tests/conformance/mvc-synthetic/*.yaml
!tests/conformance/mvc-synthetic/*.md
!tests/conformance/mvc-synthetic/*.py
!tests/conformance/*.txt
!tests/conformance/*.md
!tests/liveness_check.c
!tests/liveness
!tests/liveness/*.264
!tests/liveness/*.txt
!tests/liveness/*.md
!tests/asan_check.c
!tests/asan
!tests/asan/*.264
!tests/asan/*.txt
!tests/asan/*.md
