*
!.gitignore
!/.gitattributes
!/src
!edge264*.c
!edge264*.h
!LICENSE_BSD.txt
!Makefile
!README.md
!IMPROVEMENTS.md
!DESIGN.md
!CMakeLists.txt
!*.in
!tests
!tests/*.yaml
!tests/*.264
!tests/*.c
!tests/cmake
!tests/cmake/*
!tests/ROADMAP.md
!tests/gen_cabac_overread.py
!tests/gen_cabac_orphan.py
!tests/edge264mvc_test_liveness.py
!tests/edge264mvc_test_yuv_check.py
!tests/gen_cabac_misalign.py
!tests/gen_slice_first_mb_oob.py
!tests/gen_mvc_smallres_stall.py
!tests/gen_gap_stream.py
!tests/gen_same_poc_stream.py
!tests/gen_interview_reflist_stream.py
!tests/gen_sei_recovery_point.py
!tests/gen_sei_short_payload.py
!tests/gen_mvc_baseless.py
!tests/gen_mvc_ordering.py
!tests/gen_mvc_unpaired_base_eos.py
!tests/gen_mvc_orphan_tail.py
!tests/gen_incomplete_ref_dependency.py
!tests/gen_slice_deblock_offsets.py
!tests/gen_gap_reference.py
!tests/gen_overlapping_slices.py
!tests/gen_reversed_slices.py
!tests/gen_reordered_damaged_slices.py
!tests/gen_overrun_reference.py
!tests/gen_plane_without_d.py
!tests/gen_reflist_poc_distance.py
!tests/gen_long_subset_sps.py
!tests/gen_weighted_denom7.py
!tests/gen_crop_top_left.py
!tests/gen_subset_sps_truncated.py
!tests/gen_cavlc8x8_deblock.py
!tests/gen_intra8x8_hd_slices.py
!tests/gen_mvc_requeue_dependent.py
!tests/gen_long_term_overflow.py
!tests/gen_idr_after_long_term.py
!tests/gen_cavlc_ac_overflow.py
!tests/gen_conceal_wide_islice.py
!tests/gen_implicit_weight_far_poc.py
!tests/gen_reflist_num_overflow.py
!tests/gen_rejected_first_slice.py
!tests/gen_sps_fewer_refs.py
!tests/gen_ref_flip.py
!tests/conformance_check.c
!tests/conformance
!tests/conformance/2d
!tests/conformance/mvc
!tests/conformance/mvc-synthetic
!tests/conformance/2d/*.264
!tests/conformance/mvc/*.264
!tests/conformance/mvc-synthetic/*.264
!tests/conformance/mvc-synthetic/*.yaml
!tests/conformance/mvc-synthetic/*.md
!tests/conformance/mvc-synthetic/*.py
!tests/conformance/mvc-jmvc
!tests/conformance/mvc-jmvc/*.264
!tests/conformance/mvc-jmvc/*.md
!tests/conformance/2d-synthetic
!tests/conformance/2d-synthetic/*.264
!tests/conformance/2d-synthetic/*.md
!tests/conformance/*.txt
!tests/conformance/*.md
!tests/liveness_check.c
!tests/liveness
!tests/liveness/*.264
!tests/liveness/*.yaml
!tests/liveness/*.txt
!tests/liveness/*.md
!tests/asan_check.c
!tests/fuzz_decode.c
!tests/asan
!tests/asan/*.264
!tests/asan/*.txt
!tests/asan/*.md
